<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Plataforma perguntas e erespostas</title>
</head>
<body>
    <h1>Olá mundo!</h1>
    <h2>Guia de perguntas: </h2>
    <hr>
    <p>Nome:<%= nome %> </p> 
    <p>Linguagem favorita: <%= lang%></p>  
    <p>Empresa: <%= empresa %></p>

    <% if(msg){ %>
        <h3>Isto é uma mensagem de erro</h3>
    <% }else{%>
        <h3> Nenhum erro!</h3>
     <% } %> 

     <% produtos.forEach(function(produto){ %>
        <hr>
        <h3><%= produto.nome %></h3>
        <h4><%= produto.preco %></h4>
    <% }) %>
    
</body>
</html>